<!DOCTYPE html>
<html>
<head>
    <title>Poke Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
    <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossOrigin="anonymous"></script>

</head>
<body>
  <div id="app">


    <!--BEGIN REG MENU -->
    <template v-if ="mainMenu2">
        <h1 class="text-center">WELCOME TO THE GAME!</h1>
        <div class="row text-center">
        <button @click="playMainTheme" class="text-center reg-menu">Start!</button>
        </div>
    </template>
    <template v-if ="mainMenu && !mainMenu2">
      <div class="reg-menu">
        <template v-if="menuPage == 0">
          <h1 class="text-center">CHOOSE YOUR CHARACTER</h1>
          <div class="row text-center">
            <div class="menu-selection" id="setM" @click="trainerSprite = 'assets/img/trainer_male.png'; toggleBall('setM')" >
               <img src="assets/img/trainer_male.png" />
            </div>
            <div class="menu-selection" id="setF"  @click="trainerSprite = 'assets/img/trainer_female.png'; toggleBall('setF')">
              <img src="assets/img/trainer_female.png"/>
            </div>

          </div>
        </template>
        <template v-if="menuPage == 1">
          <h1 class="text-center">WHATS YOUR NAME?</h1>
          <div class="row text-center">
            <div class="menu-selection">
               <img v-bind:src="trainerSprite" />
            </div>
            <input type="text" class="input-line" v-model="trainerName"/>
          </div>
        </template>
        <template v-if="menuPage == 2">
          <h1 class="text-center">CHOOSE YOUR POKE-BRO</h1>
          <div class="row text-center">
            <template v-for="(pokemon,i) in pokemonStartOpc">
            <div class="menu-selection" :id="i" @click="selectPokeBro(i)" >
              <img :src="pokemon.sprite" />
            </div>
            </template>
          </div>
        </template>
        <div class="row text-center">
            <button v-if="menuPage > 0" @click="menuPage--" class="text-center reg-menu"><-</button>
            <button @click="menuManager" class="text-center reg-menu">OK</button>


        </div>

      </div>
    </template>
    <!--END REG MENU -->
    <!-- BEGIN MAIN MENU-->
    <template v-if ="!mainMenu">
      <section class="row">
        <div class="small-6 columns">
          <h1 class="text-center">{{trainerName}} / {{pokemonOwned[0].name}}</h1>
          <div class="text-center">
            <img v-bind:src="trainerSprite" />
            <img v-bind:src="pokemonOwned[0].sprite" />
          </div>
          <div class="healthbar">
            <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width: playerHealth + '%'}">
              {{ playerHealth }}

            </div>
          </div>
        </div>
        <div class="small-6 columns">
          <h1 class="text-center" >{{pokemonCurrent[0].name}}</h1>
          <div class="text-center">
            <img v-bind:src="pokemonCurrent[0].sprite" />
          </div>
          <div class="healthbar">
            <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width: monsterHealth + '%'}">
              {{ monsterHealth }}
            </div>
          </div>
        </div>
      </section>
      <section class="row controls" v-if="!gameIsRunning">
        <div class="small-12 columns">
          <button id="start-game" @click="startGame">START NEW GAME</button>
        </div>
      </section>
      <section class="row controls" v-else>
        <div class="small-12 columns">
          <button id="attack" @click="playerAttack">ATTACK</button>
          <button id="special-attack" @click="playerAttack">SPECIAL ATTACK</button>
          <button id="heal" @click="heal">HEAL</button>
          <button id="give-up" @click="giveUp">GIVE UP</button>
        </div>
      </section>
      <section class="row log" v-if="turns.length > 0">
        <div class="small-12 columns">
          <ul>
            <li v-for="turn in turns" :class="{'player-turn': turn.isPlayer,'monster-turn': !turn.isPlayer}">
              {{turn.text}}
            </li>
          </ul>
        </div>
      </section>
    </template>
      <!-- END MAIN MENU-->
  </div>
<script src="app.js"></script>
</body>
</html>
